#high-score {
    display: inline-block;
    text-align: left;
}

#timer {
    float: right;
}

#root {
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
}

li {
    list-style: none;
}

.btn, .btn-child {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn:hover{
    opacity: .5;
}
